<div class="container">
  <h1>Add a Quote</h1>
  <form (submit)="onSubmit()" class="ng-untouched ng-pristine ng-invalid" #quoteForm="ngForm">
    <label>Quote:</label>
    <input
      type="text" 
      name="content" 
      required 
      class="ng-untouched ng-pristine ng-invalid"
      minlength="4" 
      [(ngModel)]="quote.content"
      #content='ngModel'
    >
    <span *ngIf="content.errors && content.invalid && content.dirty" class="error">Quote is required and must at least 4 characters</span>
    <br />
    <br />
    <label>Author:</label>
    <input
      type="text" 
      name="author" 
      required 
      class="ng-untouched ng-pristine ng-invalid"
      pattern="^[a-zA-Z ]+$"
      minlength="1" 
      [(ngModel)]="quote.author"
      #author='ngModel'
    >
    <span *ngIf="author.errors && author.invalid && author.dirty" class="error">Author is required</span>
    <br />
    <br />
    <button *ngIf="quoteForm.valid" type="submit">Add Quote</button>
    <button *ngIf="!quoteForm.valid" type="button">Please Add a Quote</button>
  </form>


  <h1>Quotes List</h1>
  <app-quotes *ngFor="let quote of quotes; let idx = index" 
    [sentQuote]="quote" 
    [index]="idx"
    (Upvote)="upvotingQuote($event)"
    (Downvote)="downvotingQuote($event)"
    (Delete)="deletingQuote($event)"
  ></app-quotes>
</div>
