<div class="main">
  <h4>MainComponent</h4>
  <p>text for here text for here text for here text for here text
     for here text for here text for here text for here text for 
     here text for here text for here text for here text for here
      text for here text for here text for here text for here 
      text for here text for here text for here text for here text 
      for here text for here text for here text for here text for here</p>
  <p>text for here text for here text for here text for here text
      for here text for here text for here text for here text for 
      here text for here text for here text for here text for here
        text for here text for here text for here text for here 
        text for here text for here text for here text for here text 
        for here text for here text for here text for here text for here</p>
</div>